/* frontend/src/Chatbot.css */
/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px) !important; /* Force the height to subtract the header height */
  flex-grow: 1;
  overflow: hidden;
}

.sidebar{
  width: 300px;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
  height: 100%;
  box-shadow: #e0e0e0;
}

/* Ensure that the message list scrolls independently */
.MainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%; /* Ensure it takes up all available space */
}

.MainContainer .cs-chat__list {
  flex-grow: 1; /* Let the chat list grow to fill available space */
  overflow-y: auto; /* Enable scrolling for the chat list */
  padding: 10px;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px); /* Subtract the header height */
  padding: 10px;
}

.MessageInput {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  width: 100%;
  position: sticky;
  bottom: 0; /* Stick the input to the bottom */
  z-index: 100; /* Ensure the input is always on top */
}

.conversation-title {
  white-space: nowrap;        /* Prevents text from wrapping */
  overflow: hidden;           /* Ensures the overflow is hidden */
  text-overflow: ellipsis;    /* Displays ellipsis (…) for overflowing text */
  max-width: 80%;             /* Adjust the width based on available space (e.g., 80%) */
  display: inline-block;      /* Ensures proper layout of the text with the ellipsis */
}


.new-chat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4285f4;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  max-width: 320px;
  margin: 10px auto;
  background-color: #fff;
  color: #000;
}

.new-chat-button:hover {
  background-color: #f1f1f1;
}